swarms
pydantic==2.7.1
base64==1.0.0
datetime==4.3
hashlib==20081119
hmac==20151222
shutil==1.7.0
urllib3==1.26.7
json5==0.9.6
codecs==1.0.0
fastapi
pytest
hydra
loguru
requests
opencv-python
beartype
termcolor
