[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "swarms"
version = "4.3.3"
description = "Swarms - Pytorch"
license = "MIT"
authors = ["Kye Gomez <kye@apac.ai>"]
homepage = "https://github.com/kyegomez/swarms"
documentation = "https://swarms.apac.ai"  
readme = "README.md" 
repository = "https://github.com/kyegomez/swarms"
keywords = ["artificial intelligence", "deep learning", "optimizers", "Prompt Engineering", "swarms", "agents"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.10"
]


[tool.poetry.dependencies]
python = ">=3.9,<4.0"
torch = ">=2.1.1,<3.0"
transformers = "*"
asyncio = ">=3.4.3,<4.0"
einops = "0.7.0"
google-generativeai = "0.3.1"
langchain = "0.1.13"
langchain-core = "0.1.22"
langchain-community = "0.0.20"
langsmith = "0.0.87"
langchain-openai = "0.0.5"
faiss-cpu = "1.7.4"
backoff = "2.2.1"
datasets = "*"
optimum = "1.15.0"
diffusers = "*"
toml = "*"
pypdf = "4.0.1"
accelerate = "*"
sentencepiece = "0.1.98"
httpx = "0.24.1"
tiktoken = "0.5.2"
ratelimit = "2.2.1"
loguru = "0.7.2"
huggingface-hub = "*"
pydantic = "2.6.4"
tenacity = "8.2.3"
Pillow = "9.4.0"
chromadb = "0.4.24"
termcolor = "2.2.0"
torchvision = "0.16.1"
rich = "13.5.2"
bitsandbytes = "*"
sentence-transformers = "*"
peft = "*"
psutil = "*"
timm = "*"
supervision = "*"
sentry-sdk = "*"

[tool.poetry.dev-dependencies]
black = "23.3.0"


[tool.poetry.group.lint.dependencies]
ruff = ">=0.0.249,<0.1.7"
types-toml = "^0.10.8.1"
types-pytz = "^2023.3.0.0"
black = "^23.1.0"
types-chardet = "^5.0.4.6"
mypy-protobuf = "^3.0.0"


[tool.ruff]
line-length = 70
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = ["E4", "E7", "E9", "F"]
ignore = []
# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

[tool.black]
line-length = 70
target-version = ['py38']
preview = true


[tool.poetry.scripts]
swarms = 'swarms.cli._cli:main'