torch==2.1.1
transformers
pandas
langchain-core==0.1.22
langchain-community==0.0.20
langsmith==0.0.87
langchain-openai==0.0.5
httpx==0.24.1
Pillow==9.4.0
datasets==2.14.5
pydantic==2.6.4
huggingface-hub
requests_mock
pypdf==4.0.1
accelerate==0.22.0
loguru==0.7.2
optimum
diffusers
toml
tiktoken==0.4.0
colored
addict
backoff==2.2.1
ratelimit==2.2.1
termcolor==2.2.0
timm
torchvision==0.16.1
rich==13.5.2
mkdocs
mkdocs-material
mkdocs-glightbox
pre-commit==3.6.2
psutil
black
tenacity