docs_dir: '.'  # replace with the correct path if your documentation files are not in the same directory as mkdocs.yml
site_name: Swarms
site_url: https://docs.swarms.world
site_author: Swarms
site_description: The Enterprise-Grade Production-Ready Multi-Agent Orchestration Framework
repo_name: kyegomez/swarms
repo_url: https://github.com/kyegomez/swarms
edit_uri: https://github.com/kyegomez/swarms/tree/main/docs
copyright: TGSC Corp 2024. All rights reserved.

plugins:
  # - glightbox
  - search
  - git-authors
  - mkdocs-jupyter:
        kernel_name: python3
        execute: false
        include_source: True
        include_requirejs: true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            parameter_headings: true
            paths: [supervision]
            load_external_modules: true
            allow_inspection: true
            show_bases: true
            group_by_category: true
            docstring_style: google
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_category_heading: true
  - git-committers:
      repository: kyegomez/swarms
      branch: master
      # token: !ENV ["GITHUB_TOKEN"]
  - git-revision-date-localized:
      enable_creation_date: true
  # - mkdocs-jupyter:
  #     kernel_name: python3
  #     execute: false
  #     include_source: True
  #     include_requirejs: true
extra_css:
  - assets/css/extra.css

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://x.com/swarms_corp
    - icon: fontawesome/brands/github
      link: https://github.com/kyegomez/swarms
    - icon: fontawesome/brands/twitter
      link: https://x.com/swarms_corp
    - icon: fontawesome/brands/discord
      link: https://discord.gg/jM3Z6M9uMq

  analytics:
    provider: google
    property: G-MPE9C65596

  alternate:
    - name: English
      link: /
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh
    - name: 日本語
      link: /ja/
      lang: ja
    - name: 한국어
      link: /ko/
      lang: ko

theme:
  name: material
  custom_dir: overrides
  logo: assets/img/swarms-logo.png
  palette:
    - scheme: default
      primary: white      # White background
      accent: white       # Black accents for interactive elements
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate       # Optional: lighter shades for accessibility
      primary: black
      accent: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - announce.dismiss
  font:
    text: "Fira Sans"      # Clean and readable text
    code: "Fira Code"      # Modern look for code snippets


  # Add language selector
  language: en
  alternate:
    - name: English
      link: /
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh
    - name: 日本語
      link: /ja/
      lang: ja
    - name: 한국어
      link: /ko/
      lang: ko


# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
nav:
  - Home:
    - Overview: "index.md"
    - Onboarding: 
      - Installation: "swarms/install/install.md"
      - Environment Configuration: "swarms/install/env.md"
      - Quickstart: "swarms/install/quickstart.md"
      # - Swarms CLI: "swarms/cli/main.md"
    # - Swarms Framework Architecture: "swarms/concept/framework_architecture.md"
    # - Swarm Ecosystem: "swarms/concept/swarm_ecosystem.md"
    # - Swarms Products: "swarms/products.md"
    # - Swarms Vision: "swarms/concept/vision.md"
    
    - Agents:
      # - Overview: "swarms/structs/index.md"
      - Concepts:
        # - Managing Prompts in Production: "swarms/prompts/main.md"
        - Introduction into The Agent Architecture: "swarms/framework/agents_explained.md"
        # - Introduction to Tools: "swarms/tools/overview.md"
      - Documentation:
        - Agent Class Documentation: "swarms/structs/agent.md"
        - Create and Run Agents from YAML: "swarms/agents/create_agents_yaml.md"
        - Integrating Various Models into Your Agents: "swarms/models/agent_and_models.md"
        - Tools:
          - Overview: "swarms/tools/main.md"
          - What are tools?: "swarms/tools/build_tool.md"
          - Structured Outputs: "swarms/agents/structured_outputs.md"
          - Agent MCP Integration: "swarms/structs/agent_mcp.md"
          - Comprehensive Tool Guide with MCP, Callables, and more: "swarms/tools/tools_examples.md"
        - RAG || Long Term Memory:
          - Integrating RAG with Agents: "swarms/memory/diy_memory.md"
        - Third-Party Agent Integrations:
          - OpenAI Assistant: "swarms/agents/openai_assistant.md"
          - Integrating External Agents from Griptape, Langchain, etc: "swarms/agents/external_party_agents.md"
          - Creating Custom Agents: "swarms/agents/new_agent.md"
      - PreBuilt Reasoning Agents:
        - Self Consistency Agent: "swarms/agents/consistency_agent.md"
        - IRE Agent: "swarms/agents/iterative_agent.md"
        - Reasoning Duo: "swarms/agents/reasoning_duo.md"
        - Reasoning Agent Router: "swarms/agents/reasoning_agent_router.md"
        - Reflexion Agent: "swarms/agents/reflexion_agent.md"
        - GKP Agent: "swarms/agents/gkp_agent.md"
        - Agent Judge: "swarms/agents/agent_judge.md"
    
    - Swarm Architectures:
      - Introduction to Multi-Agent Collaboration: "swarms/concept/why.md"
      
      - Concepts:
        - Introduction to Swarm Architectures: "swarms/concept/swarm_architectures.md"
        - How to Choose the Right Swarm Architecture: "swarms/concept/how_to_choose_swarms.md"
        - How to Build Custom Swarms: "swarms/structs/custom_swarm.md"
        - How to Create New Swarm Architectures: "swarms/structs/create_new_swarm.md"
        - Introduction to Hiearchical Swarm Architectures: "swarms/structs/multi_swarm_orchestration.md"

      - Swarm Architectures Documentation:
        - Overview: "swarms/structs/overview.md"
        - MajorityVoting: "swarms/structs/majorityvoting.md"
        - AgentRearrange: "swarms/structs/agent_rearrange.md"
        - RoundRobin: "swarms/structs/round_robin_swarm.md"
        - Mixture of Agents: "swarms/structs/moa.md"
        - GroupChat: "swarms/structs/group_chat.md"
        - AgentRegistry: "swarms/structs/agent_registry.md"
        - SpreadSheetSwarm: "swarms/structs/spreadsheet_swarm.md"
        - ForestSwarm: "swarms/structs/forest_swarm.md"
        - SwarmRouter: "swarms/structs/swarm_router.md"
        # - TaskQueueSwarm: "swarms/structs/taskqueue_swarm.md"
        - SwarmRearrange: "swarms/structs/swarm_rearrange.md"
        - MultiAgentRouter: "swarms/structs/multi_agent_router.md"
        # - MatrixSwarm: "swarms/structs/matrix_swarm.md"
        - ModelRouter: "swarms/structs/model_router.md"
        - MALT: "swarms/structs/malt.md"
        - Interactive Group Chat: "swarms/structs/interactive_groupchat.md"
        - Various Execution Methods: "swarms/structs/various_execution_methods.md"
        - Deep Research Swarm: "swarms/structs/deep_research_swarm.md"
        - Swarm Matcher: "swarms/structs/swarm_matcher.md"
        - Council of Judges: "swarms/structs/council_of_judges.md"

        - Hiearchical Architectures:
          - Auto Agent Builder: "swarms/structs/auto_agent_builder.md"
          - Hybrid Hierarchical-Cluster Swarm: "swarms/structs/hhcs.md"
          - Auto Swarm Builder: "swarms/structs/auto_swarm_builder.md"

        - Multi-Agent Multi-Modal Structures:
          - ImageAgentBatchProcessor: "swarms/structs/image_batch_agent.md"
        
        
        - Workflows:
          - ConcurrentWorkflow: "swarms/structs/concurrentworkflow.md"
          - SequentialWorkflow: "swarms/structs/sequential_workflow.md"
          - GraphWorkflow: "swarms/structs/graph_workflow.md"
        - Communication Structure: "swarms/structs/conversation.md"
    
    - Swarms Tools:
      - Overview: "swarms_tools/overview.md"
      - BaseTool Reference: "swarms/tools/base_tool.md"
      - MCP Client Utils: "swarms/tools/mcp_client_call.md"

      - Vertical Tools:
        - Finance: "swarms_tools/finance.md"
        - Search: "swarms_tools/search.md"
        - Social Media:
          - Twitter: "swarms_tools/twitter.md"

    - Swarms Memory:
      - Overview: "swarms_memory/index.md"
      - Memory Systems:
        - ChromaDB: "swarms_memory/chromadb.md"
        - Pinecone: "swarms_memory/pinecone.md"
        - Faiss: "swarms_memory/faiss.md"

    - Deployment Solutions:
      - Deploy your Swarms on Google Cloud Run: "swarms_cloud/cloud_run.md"
      - Deploy your Swarms on Phala: "swarms_cloud/phala_deploy.md"

    - About Us:
      - Swarms Vision: "swarms/concept/vision.md"
      - Swarm Ecosystem: "swarms/concept/swarm_ecosystem.md"
      - Swarms Products: "swarms/products.md"

    - Contributors:
      - Swarms Framework Architecture: "swarms/concept/framework_architecture.md"
      - Bounty Program: "corporate/bounty_program.md"
      - Contributing to Documentation: "contributors/docs.md"
      - Contributing Tools/Custom Plugins for Swarms: "contributors/tools.md"
      - Contributing: 
        - Contributing: "swarms/contributing.md"
        - Tests: "swarms/framework/test.md"
        - Code Cleanliness: "swarms/framework/code_cleanliness.md"
        - Philosophy: "swarms/concept/philosophy.md"
      - Changelog:
        - Swarms 5.6.8: "swarms/changelog/5_6_8.md"
        - Swarms 5.8.1: "swarms/changelog/5_8_1.md"
        - Swarms 5.9.2: "swarms/changelog/changelog_new.md"
    
  - Examples:
    - Overview: "examples/index.md"
    - CookBook Index: "examples/cookbook_index.md"
    - PreBuilt Templates: "examples/templates_index.md"
    - Customizing Agents:
      - Basic Agent: "swarms/examples/basic_agent.md"
      - Agents with Callable Tools: "swarms/examples/agent_with_tools.md"
      # - Agent With MCP Integration: "swarms/examples/agent_with_mcp.md"
      - Agent Output Types: "swarms/examples/agent_output_types.md"
      - Agent with Structured Outputs: "swarms/examples/agent_structured_outputs.md"
      - Agents with Vision: "swarms/examples/vision_processing.md"
      - Agent with Multiple Images: "swarms/examples/multiple_images.md"
      - Gradio Chat Interface: "swarms/ui/main.md"
      - Various Model Providers:
        - OpenAI: "swarms/examples/openai_example.md"
        - Anthropic: "swarms/examples/claude.md"
        - Groq: "swarms/examples/groq.md"
        - Cohere: "swarms/examples/cohere.md"
        - DeepSeek: "swarms/examples/deepseek.md"
        - Ollama: "swarms/examples/ollama.md"
        - OpenRouter: "swarms/examples/openrouter.md"
        - XAI: "swarms/examples/xai.md"
        - VLLM: "swarms/examples/vllm_integration.md"
        - Llama4: "swarms/examples/llama4.md"



      # - Swarms Tools: 
      #   - Agent with Yahoo Finance: "swarms/examples/yahoo_finance.md"
      #   - Twitter Agents: "swarms_tools/twitter.md"
      #   - Blockchain Agents:
      #     - Agent with HTX + CoinGecko: "swarms/examples/swarms_tools_htx.md"
      #     - Agent with HTX + CoinGecko Function Calling: "swarms/examples/swarms_tools_htx_gecko.md"
      #     - Lumo: "swarms/examples/lumo.md"
      #     - Quant Crypto Agent: "swarms/examples/quant_crypto_agent.md"

    - Multi-Agent Collaboration:
      - Hybrid Hierarchical-Cluster Swarm Example: "swarms/examples/hhcs_examples.md"
      - Group Chat Example: "swarms/examples/groupchat_example.md"
      - Sequential Workflow Example: "swarms/examples/sequential_example.md"
      - SwarmRouter Example: "swarms/examples/swarm_router.md"
      - MultiAgentRouter Minimal Example: "swarms/examples/multi_agent_router_minimal.md"
      - ConcurrentWorkflow Example: "swarms/examples/concurrent_workflow.md"
      - MixtureOfAgents Example: "swarms/examples/mixture_of_agents.md"
      - Unique Swarms: "swarms/examples/unique_swarms.md"
      - Agents as Tools: "swarms/examples/agents_as_tools.md"
      - Aggregate Multi-Agent Responses: "swarms/examples/aggregate.md"
      - Interactive GroupChat Example: "swarms/examples/interactive_groupchat_example.md"
      - Applications:
        - Swarms DAO: "swarms/examples/swarms_dao.md"
        - Swarms of Browser Agents: "swarms/examples/swarms_of_browser_agents.md"
        - ConcurrentWorkflow with VLLM Agents: "swarms/examples/vllm.md"

    
    - Swarms API Examples:
      - Medical Swarm: "swarms/examples/swarms_api_medical.md"
      - Finance Swarm: "swarms/examples/swarms_api_finance.md"
      - ML Model Code Generation Swarm: "swarms/examples/swarms_api_ml_model.md"

  # - Swarm Models:
  #   - Overview: "swarms/models/index.md"
  #   # - Models Available: "swarms/models/index.md"
  #   # - Available Models from OpenAI, Huggingface, TogetherAI, and more: "swarms/models/models_available_overview.md"
  #   # - Model Router
  #   - Quickstart: "swarms/models/models_available_overview.md"
  #   - How to Create A Custom Language Model: "swarms/models/custom_model.md"
  #   - Language Models:
  #     - BaseLLM: "swarms/models/base_llm.md"
  #     - HuggingFaceLLM: "swarms/models/huggingface.md"
  #     - Anthropic: "swarms/models/anthropic.md"
  #     - OpenAIChat: "swarms/models/openai.md"
  #     - OpenAIFunctionCaller: "swarms/models/openai_function_caller.md"
  #     - Groq: "swarms/models/groq.md"
  #     - Cerebras: "swarms/models/cerebras.md"
  #   - MultiModal Models:
  #     - BaseMultiModalModel: "swarms/models/base_multimodal_model.md"
  #     - Multi Modal Models Available: "swarms/models/multimodal_models.md"
  #     - GPT4VisionAPI: "swarms/models/gpt4v.md"
  - Swarms Cloud API:
    - Overview: "swarms_cloud/swarms_api.md"
    - Swarms API as MCP: "swarms_cloud/mcp.md"
    - Swarms API Tools: "swarms_cloud/swarms_api_tools.md"
    - Individual Agent Completions: "swarms_cloud/agent_api.md"


    - Clients:
      - Swarms API Python Client: "swarms_cloud/python_client.md"
      - Swarms API Rust Client: "swarms_cloud/rust_client.md"

    - Pricing:
      - Swarms API Pricing: "swarms_cloud/api_pricing.md"
      - Swarms API Pricing in Chinese: "swarms_cloud/chinese_api_pricing.md"
      - Swarms Cloud Subscription Tiers: "swarms_cloud/subscription_tiers.md"

    - Swarm Ecosystem APIs:
      - MCS API: "swarms_cloud/mcs_api.md"
      # - CreateNow API: "swarms_cloud/create_api.md"
    - Guides:
      - Swarms API Best Practices: "swarms_cloud/best_practices.md"
      - Swarm Architectures Available: "swarms_cloud/swarm_types.md"

  - Swarms Marketplace:
    - Overview: "swarms_platform/index.md"
    - Share and Discover Agents, Prompts, and Tools: "swarms_platform/share_and_discover.md"
    - Customize Your Sidebar: "swarms_platform/apps_page.md"
    - Playground: "swarms_platform/playground_page.md"
    - API Key Management: "swarms_platform/apikeys.md"
    - Account Management: "swarms_platform/account_management.md"

  - Swarms Rust:
    - Overview: "swarms_rs/overview.md"
    - Agents: "swarms_rs/agents.md"

  - Resources:
    - Overview: "governance/main.md"
  #   - Tokenomics: "web3/token.md"

    
    # - Prompts API: 
    #   - Add Prompts: "swarms_platform/prompts/add_prompt.md"
    #   - Edit Prompts: "swarms_platform/prompts/edit_prompt.md"
    #   - Query Prompts: "swarms_platform/prompts/fetch_prompts.md"
    # - Agents API:
    #   - Add Agents: "swarms_platform/agents/agents_api.md"
    #   - Query Agents: "swarms_platform/agents/fetch_agents.md"
    #   - Edit Agents: "swarms_platform/agents/edit_agent.md"
    # - Telemetry API:
    #   - PUT: "swarms_platform/telemetry/index.md"
    # - Swarms Wallet API:
    #   - Overview: "swarms/wallet/api.md"
    #   - Tools API:
    #     - Overview: "swarms_platform/tools_api.md"
    #     - Add Tools: "swarms_platform/fetch_tools.md"
  # - Corporate:
  #   - Culture: "corporate/culture.md"
  #   - Hiring: "corporate/hiring.md"
  #   - Swarms Goals & Milestone Tracking; A Vision for 2024 and Beyond: "corporate/2024_2025_goals.md"
  # - Web3:
  #   # - Overview: "finance/index.md"
  #   - Swarms Wallet: "finance/wallet.md"
  #   - Swarms Subscription: "finance/subscription.md"
