mkdocs
mkdocs-material
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-revision-date-plugin
mkdocs-git-committers-plugin
mkdocstrings
mike
mkdocs-jupyter
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-material-extensions
mkdocs-simple-hooks
mkdocs-awesome-pages-plugin
mkdocs-versioning
mkdocs-mermaid2-plugin
mkdocs-include-markdown-plugin
mkdocs-enumerate-headings-plugin
mkdocs-autolinks-plugin
mkdocs-minify-html-plugin
mkdocs-autolinks-plugin
mkdocs-search>=2.9.0
mkdocs-git-authors-plugin>=0.5.1
mkdocs-jupyter>=0.20.0
mkdocstrings>=0.18.1
mkdocs-git-revision-date-localized-plugin>=0.9.1
mkdocs-mermaid2-plugin>=0.6.0
mkdocs-disqus>=0.2.0
pymdown-extensions>=9.4
markdown>=3.3.6
mkdocs-material-extensions>=1.0
pygments>=2.10.0
