mkdocs==1.5.3
mkdocs-material
mkdocs-glightbox
mkdocstrings[python]
mkdocs-git-authors-plugin
mkdocs-jupyter==0.16.0
lxml_html_clean
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
