fastapi
uvicorn
pydantic
loguru
python-dotenv
swarms  # Specify the version or source if it's not on PyPI
opentelemetry-api 
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp-proto-grpc