---
name: Docs WorkAgent
on:
  push:
    branches:
      - master
      - main
      - develop
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/library/setup
      - run: pip install mkdocs-material
      - run: pip install mkdocs-glightbox
      - run: pip install "mkdocstrings[python]"
      - run: mkdocs gh-deploy --force
